#header {
    -fx-padding: 0px 0px 20px 0px;
}

#pageTitle {
    -fx-font-size: 25px;
}

.userRow {
    -fx-cursor: hand;
}

Button {
    -fx-cursor: hand;
}

TextField {
    -fx-border-inset: 10px;
}

#popup {
    -fx-background-color: white;
    -fx-padding: 20px;
}